[Unit]
Description=Cloudflared tunnel for advent-of-faith
Wants=network-online.target
After=network-online.target


[Container]
Image=docker.io/cloudflare/cloudflared
ContainerName=cloudflared
Exec=tunnel --no-autoupdate run --token REDACTED
AutoUpdate=registry
Network=advent-of-faith.network

[Service]
Restart=always

[Install]
WantedBy=default.target